nav a{
    text-decoration: none;

    color: black;
    margin-left: 20px;
    font-weight: semi-bold;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
}
nav a:hover{
    color: white;
    background-color: #6679ee;
    transition: 0.3s;
}
 .button-read-more {
      background-color: black;
      color: white;
      border: none;
      border-radius: 25px;
      padding: 4px 18px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    
    .button-read-more:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
.image-wrapper {
  width: 420px;
  height: 240px;
  overflow: hidden;      
  border-radius: 10px;   
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.05); 
}
